/Setembro/Exercicios_26-09/nbproject/private/
/Setembro/exercicios_monitoria_05-09-2026/build/
/Setembro/exercicios_monitoria_05-09-2026/nbproject/private/
/Setembro/Exercicios_05-09/build/
/Setembro/Exercicios_05-09/nbproject/private/
/Setembro/Exercicios_26-09/build/
